$mobile: 320px;
$desktop: 1280px;

$basic-white: #ffffff;
$white-opacity03: rgba(0, 0, 0, 0.03);
$basic-grey: #f8f8f8;
$line-grey: #e4e4e4;
$basic-black: #212121;
$green: #428a60;
$black-opacity2: rgba(33, 33, 33, 0.2);
